In [1]:
# Import dependencies
import numpy as np
import pandas as pd
import time

In [2]:
# Read into CSV files
dfcustomers = pd.read_csv('..\ETL\Data\olist_customers_dataset.csv')
dfgeolocation = pd.read_csv('..\ETL\Data\olist_geolocation_dataset.csv')
dforder_items = pd.read_csv('..\ETL\Data\olist_order_items_dataset.csv')
dforders = pd.read_csv('..\ETL\Data\olist_orders_dataset.csv')
dforder_payments = pd.read_csv('..\ETL\Data\olist_order_payments_dataset.csv')
dforder_reviews = pd.read_csv('..\ETL\Data\olist_order_reviews_dataset.csv')
dfproducts = pd.read_csv('..\ETL\Data\olist_products_dataset.csv')
dfsellers = pd.read_csv('..\ETL\Data\olist_sellers_dataset.csv')
dfproduct_category_name = pd.read_csv('..\ETL\Data\product_category_name_translation.csv')

In [3]:
dfsellers.shape

(3095, 4)

In [4]:
dfproducts.shape

(32951, 9)

In [32]:
dforder_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [5]:
dfcustomers.shape

(99441, 5)

In [6]:
dfgeolocation.shape

(1000163, 5)

In [7]:
dforder_items.shape

(112650, 7)

In [8]:
dforders.shape

(99441, 8)

In [9]:
dforder_payments.shape

(103886, 5)

In [10]:
dforder_reviews.shape

(100000, 7)

In [11]:
dfproduct_category_name.shape

(71, 2)

In [12]:
# Merge order_items with products on product_id
dforder_items_prduct_cat =  dforder_items.merge(dfproducts, how='inner', left_on=["product_id"], right_on=["product_id"])
dforder_items_prduct_cat = dforder_items_prduct_cat[['order_id','product_category_name','product_id','order_item_id']]
print(dforder_items_prduct_cat.shape)
dforder_items_prduct_cat.head()

(112650, 4)

,order_id,product_category_name,product_id,order_item_id
0,00010242fe8c5a6d1ba2dd792cb16214,cool_stuff,4244733e06e7ecb4970a6e2683c13e61,1
1,130898c0987d1801452a8ed92a670612,cool_stuff,4244733e06e7ecb4970a6e2683c13e61,1
2,532ed5e14e24ae1f0d735b91524b98b9,cool_stuff,4244733e06e7ecb4970a6e2683c13e61,1
3,6f8c31653edb8c83e1a739408b5ff750,cool_stuff,4244733e06e7ecb4970a6e2683c13e61,1
4,7d19f4ef4d04461989632411b7e588b9,cool_stuff,4244733e06e7ecb4970a6e2683c13e61,1

In [13]:
# Get product category name in english
dforder_items_prduct_cat = dforder_items_prduct_cat.merge(dfproduct_category_name, how='inner', left_on=["product_category_name"], right_on=["product_category_name"])
dforder_items_prduct_cat = dforder_items_prduct_cat[['order_id','product_category_name_english','product_id','order_item_id']]
print(dforder_items_prduct_cat.shape)
dforder_items_prduct_cat.head()

(111023, 4)

,order_id,product_category_name_english,product_id,order_item_id
0,00010242fe8c5a6d1ba2dd792cb16214,cool_stuff,4244733e06e7ecb4970a6e2683c13e61,1
1,130898c0987d1801452a8ed92a670612,cool_stuff,4244733e06e7ecb4970a6e2683c13e61,1
2,532ed5e14e24ae1f0d735b91524b98b9,cool_stuff,4244733e06e7ecb4970a6e2683c13e61,1
3,6f8c31653edb8c83e1a739408b5ff750,cool_stuff,4244733e06e7ecb4970a6e2683c13e61,1
4,7d19f4ef4d04461989632411b7e588b9,cool_stuff,4244733e06e7ecb4970a6e2683c13e61,1

In [14]:
dforders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [15]:
# Merge with orders to get customer_id
dforder_items_prduct_cat_cust = dforder_items_prduct_cat.merge(dforders, how='inner', left_on=["order_id"], right_on=["order_id"])
dforder_items_prduct_cat_cust = dforder_items_prduct_cat_cust[['customer_id','order_id','product_category_name_english','product_id','order_item_id']]
print(dforder_items_prduct_cat_cust.shape)
dforder_items_prduct_cat_cust.head()

(111023, 5)

,customer_id,order_id,product_category_name_english,product_id,order_item_id
0,3ce436f183e68e07877b285a838db11a,00010242fe8c5a6d1ba2dd792cb16214,cool_stuff,4244733e06e7ecb4970a6e2683c13e61,1
1,e6eecc5a77de221464d1c4eaff0a9b64,130898c0987d1801452a8ed92a670612,cool_stuff,4244733e06e7ecb4970a6e2683c13e61,1
2,4ef55bf80f711b372afebcb7c715344a,532ed5e14e24ae1f0d735b91524b98b9,cool_stuff,4244733e06e7ecb4970a6e2683c13e61,1
3,30407a72ad8b3f4df4d15369126b20c9,6f8c31653edb8c83e1a739408b5ff750,cool_stuff,4244733e06e7ecb4970a6e2683c13e61,1
4,91a792fef70ecd8cc69d3c7feb3d12da,7d19f4ef4d04461989632411b7e588b9,cool_stuff,4244733e06e7ecb4970a6e2683c13e61,1

In [16]:
data = dforder_items_prduct_cat_cust[['customer_id','product_id', 'product_category_name_english']]
print(data.shape)
data.head()

(111023, 3)

,customer_id,product_id,product_category_name_english
0,3ce436f183e68e07877b285a838db11a,4244733e06e7ecb4970a6e2683c13e61,cool_stuff
1,e6eecc5a77de221464d1c4eaff0a9b64,4244733e06e7ecb4970a6e2683c13e61,cool_stuff
2,4ef55bf80f711b372afebcb7c715344a,4244733e06e7ecb4970a6e2683c13e61,cool_stuff
3,30407a72ad8b3f4df4d15369126b20c9,4244733e06e7ecb4970a6e2683c13e61,cool_stuff
4,91a792fef70ecd8cc69d3c7feb3d12da,4244733e06e7ecb4970a6e2683c13e61,cool_stuff

In [17]:
freq_data = data.groupby(['customer_id','product_id', 'product_category_name_english']) \
    .agg({'product_id':'count'}) \
    .rename(columns={'product_id':'purchase_count'}) \
    .reset_index()
print(freq_data.shape)
freq_data.head()

(100943, 4)

,customer_id,product_id,product_category_name_english,purchase_count
0,00012a2ce6f8dcda20d059ce98491703,64315bd8c0c47303179dd2e25b579d00,toys,1
1,000161a058600d5901f007fab4c27140,84183944dc7cddca87a5d384452c1d3c,health_beauty,1
2,0001fd6190edaaf884bcaf3d49edf079,9df2b21ec85378d71df4404712e17478,baby,1
3,0002414f95344307404f0ace7a26f1d5,af3ec22cce878225aae6d9eb6c7a78eb,cool_stuff,1
4,000379cdec625522490c315e70c7a9fb,868b3136c5b206f91b8208fbfdf2cb7c,bed_bath_table,1

In [18]:
freq_data.to_csv('jamie_freq.csv', encoding='utf-8', index=False)

In [19]:
# Find number of unique product_category_name_english
freq_data.groupby('product_category_name_english').nunique()

,customer_id,product_id,product_category_name_english,purchase_count
product_category_name_english,,,,
agro_industry_and_commerce,182,74,1,5
air_conditioning,253,124,1,5
art,202,55,1,3
arts_and_craftmanship,23,19,1,1
audio,350,58,1,3
...,...,...,...,...
stationery,2311,849,1,6
tablets_printing_image,79,9,1,2
telephony,4199,1134,1,8
toys,3886,1411,1,6
watches_gifts,5624,1329,1,7

In [20]:
# Get unique product_category_name_english and insert into an array
unique_product_category = freq_data.product_category_name_english.unique()
print(len(unique_product_category))

71

In [21]:
# Check number of purchase count above 1 - reference only
freq_data[freq_data['purchase_count']>1]

,customer_id,product_id,product_category_name_english,purchase_count
12,00066ccbe787a588c52bd5ff404590e3,368c6c730842d78016ad823897a372db,garden_tools,4
15,000bf8121c3412d3057d32371c5d3395,bae1013381fa74d68d18c89d313f97eb,furniture_decor,2
80,00331de1659c7f4fb660c8810e6de3f5,54d2c5fad57672a4137d94c034827a13,housewares,3
102,00426311a53f3c052943c88b692a3be2,44a34214a57dc373dcd80f54c919d006,sports_leisure,6
105,004440537b68545ca3c341d7279bc4c0,44406b87e5ac6494cdb0c9dccd3b88d3,costruction_tools_garden,2
...,...,...,...,...
100891,ffde64401f7cb62d2e8696d9467c781d,8ed094bfe076c568f6bb10feada3f75d,office_furniture,2
100911,ffed5d4f6245fe13cd57054621eec36a,437c05a395e9e47f9762e677a7068ce7,health_beauty,2
100917,fff168ca1f8a1d2e8e2108b231a68a8c,eeba3ee5aa7d1d571752248eb4c81c20,furniture_decor,2
100934,fff93c1da78dafaaa304ff032abc6205,1ae28ef6d0421f92f2e4e6d407e90347,books_general_interest,2
100942,ffffa3172527f765de70084a7e53aae8,43ee88561093499d9e571d4db5f20b79,furniture_decor,2

In [22]:
# Create dummy
def create_data_dummy(freq_data):
    data_dummy = freq_data.copy()
    data_dummy['purchase_dummy'] = 1
    return data_dummy
data_dummy = create_data_dummy(data)
data_dummy

,customer_id,product_id,product_category_name_english,purchase_dummy
0,3ce436f183e68e07877b285a838db11a,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,1
1,e6eecc5a77de221464d1c4eaff0a9b64,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,1
2,4ef55bf80f711b372afebcb7c715344a,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,1
3,30407a72ad8b3f4df4d15369126b20c9,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,1
4,91a792fef70ecd8cc69d3c7feb3d12da,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,1
...,...,...,...,...
111018,2415312e36eac3ab3819f5b7f32522e5,28ac6af4008a402e5039f3e042a36e13,fashion_childrens_clothes,1
111019,85485f38b20ed1e287120d30cf39ee7d,57bdf3098169cccdb62221bd3e089cbd,fashion_childrens_clothes,1
111020,f4b4417d306cbf8c55ea65c89d0261f7,8cfc3506cedc0626364457d254429118,fashion_childrens_clothes,1
111021,035c08a68b237ef4afc82109e61a7380,8cfc3506cedc0626364457d254429118,fashion_childrens_clothes,1
111022,14acb30bbc064408dcb8cdd3c92b0c97,0ab3ab3b2869073aa9afe795fe9151aa,fashion_childrens_clothes,1

In [23]:
# Function to normalize item values across users
def normalize_data(data):
    df_matrix = pd.pivot_table(freq_data, values='purchase_count', index='customer_id', columns='product_id')
    df_matrix_norm = (df_matrix-df_matrix.min())/(df_matrix.max()-df_matrix.min())
    d = df_matrix_norm.reset_index()
    d.index.names = ['scaled_purchase_freq']
    return pd.melt(d, id_vars=['customer_id'], value_name='scaled_purchase_freq').dropna()

In [24]:
for x in range(len(unique_product_category)):
    matrix = freq_data[freq_data['product_category_name_english'] == unique_product_category[x]]
    normalize_data(matrix)

ValueError: Unstacked DataFrame is too big, causing int32 overflow

In [26]:
matrix = freq_data[freq_data['product_category_name_english'] == unique_product_category[1]]
normalize_data(matrix)

ValueError: Unstacked DataFrame is too big, causing int32 overflow

In [ ]:
# Min & Max dates for orders
print(dforders['order_purchase_timestamp'].max())
print(dforders['order_purchase_timestamp'].min())